<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-transparent">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="" alt="Logo" style="width: 100px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto gap-4 font-poppins" style="transform: translateY(10px);">
          <a class="nav-link active fw-medium" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/tentang">Tentang Kami</a>
          <a class="nav-link" href="/layanan">Layanan</a>
          <a class="nav-link" href="/konselor">Konselor</a>
          <a class="nav-link" href="/literasi">Literasi</a>
          <a class="nav-link border rounded-pill px-3 py-2" href="/auth">Login</a>
          <a class="nav-link border rounded-pill px-3 py-2 btn-primary " href="/auth">Signup</a>
        </div>
      </div>
    </div>
  </nav>

